body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 2em;
  margin-bottom: 2em;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2em;
  margin-left: 2em;
  margin-right: 2em;
}
.wrapper > div {
  background: #009FF0;
  padding: 1em;
  text-align: center;
}
.wrapper2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 2em;
}
.wrapper2 > div {
  background: #0E303D;
  padding: 1em;
  text-align: center;
}

.map {
  margin-top: 2em;
}

h1 {
  font-size: 50px;
  text-align: center;
  background-color: #009FF0;
  color: white;
  font-family: Montserrat;
  font-weight: bold;
  padding: 50 0 50 0;
}

h2, h4 {
  font-family: Lato;
  text-align: center;
  color: #0E303D;
}

.wrapper, .wrapper2 h3 {
  color: white;
  font-family: Montserrat;
}


.wrapper, .wrapper2 p {
  color: white;
  font-family: Lato;
}
